<h1 mat-dialog-title>{{titleAction}} Usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="formUser">
        <mat-form-field appearance="outline">
            <mat-label>Nombre Completo</mat-label>
            <input matInput formControlName="name" autocomplete="off">
        </mat-form-field>
        <mat-error *ngIf="messageErrorName">{{ messageErrorName }}</mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Edad</mat-label>
            <input matInput formControlName="age" autocomplete="off">
        </mat-form-field>
        <mat-error *ngIf="messageErrorAge">{{ messageErrorAge }}</mat-error>
        <mat-form-field appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" autocomplete="off">
        </mat-form-field>
        <mat-error *ngIf="messageErrorEmail">{{messageErrorEmail}}</mat-error>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button color="primary" (click)="addEditUser()" [disabled]="formUser.invalid">{{buttonAction}}</button>
</div>